{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}Подписки пользователя {{user.username}}{% endblock %}
{% block content %}
  <h1>Подписки пользователя {{user.username}}</h1>
  {% include 'posts/includes/switcher.html' with follow=True %}
  {% if page_obj %}
    {% for post in page_obj %}
      {% include 'posts/includes/post_context.html' %}
      {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
  {% else %}
    <article>
      <ul>
        <p>Вы пока не подписаны ни на одного из авторов</p>
      </ul>
    </article>
  {% endif %}
  {% include 'posts/includes/paginator.html' %}
{% endblock %}